@CHARSET "ISO-8859-1";

body {
	font-size: 100%;
	margin: 0;
	padding-top: 10em;
}

nav {
	color: white;
}

nav .container-fluid {
	background-color: #ff7f00 !important;
}

nav .navbar-brand {
	font-size: 1.5em;
}
nav .navbar-brand .acronym {
	font-size: 3em;
	font-weight: bold;
}

nav .navbar-brand #A {
	color: white;
}

nav .navbar-brand #M {
	color: gray;
}

nav .navbar-brand #S {
	color: black;
}

nav .navbar-nav .navbar-brand {
	color: white;
}

nav .navbar-nav .navbar-toggle {
	border: .1em solid white;
}

nav form *{
	display: inline;	
}
nav form .btn {
	background-color: inherit;
	margin: .3em;
}

nav form #logout {
	border: .1em solid white;
	
}

table {
	font-size: 1.25em;
}

table tr {
	text-transform: capitalize;
}

table caption {
	color: black;
}

form fieldset label {
	font-weight: bold;
	font-size: 1.5em;
}

form .btn {
	margin-right: .5em;
}


form #buttons .form-group {
	display: inline;
}


form input {
	text-transform: capitalize;
}