@CHARSET "ISO-8859-1";

body {
	font-size: 100%;
	margin: 0;
	padding-top: 10em;
}

nav {
	color: white;
}

nav .container-fluid {
	background-color: #ff7f00 !important;
}

nav .navbar-brand {
	font-size: 1.5em;
}
nav .navbar-brand .acronym {
	font-size: 3em;
	font-weight: bold;
	vertical-align: baseline;
}

nav .navbar-brand #A {
	color: white;
}

nav .navbar-brand #M {
	color: gray;
}

nav .navbar-brand #S {
	color: black;
}

nav .navbar-nav .navbar-brand {
	color: white;
}

nav .navbar-nav .navbar-toggle {
	border: .1em solid white;
}

nav form .btn {
	background-color: inherit;
	border: .1em solid white;
	margin: .3em;
}

nav form #logout {
	background-color: gray;
}

table {
	font-size: 1.25em;
}

table caption {
	color: black;
}

form fieldset {
	margin: 1em auto;
}

form fieldset label {
	font-weight: bold;
	font-size: 1.5em;
}

form .btn {
	margin: 3em auto;
	margin-right: .5em;
}