@CHARSET "ISO-8859-1";

body {
	font-size: 100%;
	margin: 0;
	padding-top: 10em;
}

nav {
	background-color: #ff7f00 !important;
	color: white;
}

nav .navbar-brand {
	font-size: 1.25em;
}
nav .navbar-brand .acronym {
	font-size: 2em;
	font-weight: bold;
}

nav .navbar-brand #A {
	color: white;
}

nav .navbar-brand #M {
	color: gray;
}

nav .navbar-brand #S {
	color: black;
}


nav #manage-accounts {
	font-size: 1.3em;
}
nav .navbar-collapse #home, 
nav .navbar-collapse #logout {
	text-align: center;
}

nav .navbar-form input {
	margin: 0;
}

nav .navbar-collapse #home {
	font-size: 1.70em;
}

table {
	font-size: 1.25em;
}

table tr {
	text-transform: capitalize;
}

table caption {
	color: black;
}

form fieldset label {
	font-weight: bold;
	font-size: 1.5em;
}

form .btn {
	margin: 1em 0;
	margin-right: .5em;
}


form #buttons .form-group {
	display: inline;
}

.form-control {
	text-transform: capitalize;
}

#success {
	color: green;
}